
node_modules/
dist/
build/
.vite/
.vk-tunnel/
.config/
*.vkforms.ru
.env
.env.*
*.log


*.pyc
__pycache__/
*.pyo
*.pyd
.Python
db.sqlite3
*.sqlite3
*.sqlite
*.log
*.pot
*.mo


media/
staticfiles/
static/
local_settings.py
.env
.env.*
venv/
venv*/ 
ENV/
env/
.envrc


.mypy_cache/
.pyright/
.pytest_cache/
.cache/


*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/


.DS_Store
.idea/
.vscode/
*.swp
*.swo
Thumbs.db